/* shared styles */

<style>@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

</style>* {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 50px auto;
}

.container h3 h1 {
    font-family: 'Merriweather', serif;
}

/* header related styles */

.banner {
    background-image: url("../resources/Banner\ Image.png");
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
}

.banner-text {
    text-align: center;
    color: #FFF;
    max-width: 632px;
    padding-left: 344px;
    padding-top: 133px;
    padding-bottom: 177px;
}

.banner-heading {
    font-size: 32px;
    font-weight: 400;
}

.heading {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    margin-top: 16px;
}

/* section related styles */

.section-head h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.section-head h3 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 16px;
}

.section-head #categories {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

.img-section {
    margin: auto 398px;

}

/* section 2 related styles */

.wlc-banner-content {
    background-image: url("../resources/Vectorrr.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin-bottom: 120px;
    margin-top: 120px;
}

/* .wlc-banner{
    display: flex;
} */

.wlc-banner-content h1 {
    color: #FFF;
    font-family: 'Merriweather', serif;
    font-size: 74px;
    font-weight: 900;
    line-height: 88px;
    width: 642px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
    padding-top: 126px;
    padding-left: 126px;
}

.wlc-banner-content p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    padding-left: 126px;
}

.wlc-banner-content h1 p {
    padding-left: 126px;
    padding-top: 126px;
}

.wlc-banner-content h3 {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 48px;
    margin-bottom: 142px;
    padding-right: 1059px;
    padding-left: 158px;
}

/* section 3 related styles */

.time-section {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
}

.time h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600px;
    line-height: 56px;
    text-transform: capitalize;
    width: 580px;
    padding: 100px 386px 0px 385px;
}

.button {
    text-align: center;
    padding-bottom: 110px;
    margin-top: 48px;
}

#button {
    border-radius: 8px;
    background: #F00;
    border: none;
    padding: 16px 32px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

/* section 4 related styles */

.offer-section {
    display: flex;
    margin-bottom: 120px;
}

.offer-section h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500px;
    line-height: normal;
}

.offer-section h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.offer-section p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400px;
    line-height: 32px;
    width: 393px;
    margin-right: 70px;
}

#img-circle {
    width: 364.844px;
    height: 364.844px;
    padding-top: 17px;
    padding-left: 17px;
}

.offer-section #offer-img-section {
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid #F00;
}

#year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 118px;
}

#dolor {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    margin-left: 118px;
}

#year-png {
    width: 140px;
    height: 140px;
    flex-shrink: 0;
    margin-left: 118px;
}

/* section 5 related styles holiday sale */

#functional {
    margin-top: 120px;
}

#functional h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
}

#functional h1 {
    font-family: Merriweather;
    color: #070211;
    font-size: 72px;
    font-weight: 900;
}

#sale #holiday {
    color: #F00;
    font-size: 72px;
    font-weight: 900;
}

#functional p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

#center {
    text-align: center;
}

#sale {
    text-align: center;
    font-family: Merriweather;
    margin-bottom: 28px;
    margin-top: 16px;
}

.dollor {
    text-align: center;
    width: 1068px;
    margin-left: 126px;
}

.three-png {
    display: flex;
}

#group75 {
    width: 278.09px;
    height: 333.424px;
    flex-shrink: 0;
    fill: linear-gradient(90deg, #FFF 0.26%, #1D1D1B 100.35%);
    background-blend-mode: screen;
    mix-blend-mode: screen;
}

#group44 {
    width: 206.841px;
    height: 206.841px;
    flex-shrink: 0;
}

#rectangle1 {
    width: 429px;
    height: 433px;
    flex-shrink: 0;
    border-radius: 16px 16px 0px 0px;
    margin-left: 406px;
}


#rectangle2 {
    width: 1320px;
    height: 229px;
    flex-shrink: 0;
    border-radius: 16px 0px 16px 16px;
    background: #F00;
}

/* portfolio secttion related styles */
.gift {
    margin-top: 120px;
}

.gift h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.gift h1 {
    font-family: 'Merriweather', serif;
    color: #070211;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
}

.gift p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
}

.first-three-img {
    display: flex;
    border-radius: 16px;
}

.second-three-img {
    display: flex;
    border-radius: 16px;
}

.gift img {
    margin: 12px;
}

/* Newsletter section related styles*/

.newsletter {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    margin-bottom: 120px;
}

.newsletter h1 {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
    margin-bottom: 22px;
}

.newsletter p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    padding-left: 212px;
    margin-bottom: 48px;
}

.g61 #email {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

#email {
    align-items: center;
    padding-left: 585px;
    padding-right: 585px;
    padding-top: 80px;
}

#btn {
    width: 648px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px;
    background: #FFF;
    border: none;
    padding-left: 30px;
    margin-left: 210px;
}

#subs {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    padding: 24px 56px;
}

/* footer related styles */
.footer {
    background: #070211;
    width: 1600px;
    height: 609px;
    flex-shrink: 0;
    width: 100%;
    max-width: 1600px;
    margin: 120px 0px auto;
}

.all-info p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

.info {
    display: flex;
    gap: 700px;
}

.snd-info {
    display: flex;
}

#big {
    padding-left: 140px;
    padding-top: 120px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

#num {
    padding-top: 120px;
    padding-right: 291px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

#copy {
    padding-left: 140px;
    padding-bottom: 120px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#unsbs {
    padding-right: 140px;
    padding-bottom: 120px;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#fimg{
    margin-left: 600px;
    gap: 20px;
}